* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #8080003b;
}

::-webkit-scrollbar {
    width: 8px;

}

/* Define a cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 4px;
}

/* Define a cor do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f2f2f232;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 10pt;
}

a:hover {
    text-decoration: underline;
    color: #3f3f00;
}

/**main**/
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    width: 100%;
    height: 3.5rem;
    background-color: #b7b75e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    z-index: 999;

}

.nav-bar2 {
    display: none;
}


.link-menu {
    margin-left: 50px;
    text-decoration: none;
    font-size: 12pt;
    color: #ffffff;
}

.link-menu:hover {
    text-decoration: underline;
    color: #808000;
}

.link-menu2 {
    margin-left: 50px;
    margin-block: 15px;
    text-decoration: none;
    font-size: 12pt;
    color: #ffffff;
}

.logo {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-central {
    margin-top: 75px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35pt;
    color: #808000;
}

.container-presentes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px;
    max-width: 300px;
    height: 350px;
    border-radius: 10px;
    background-color: #ffffff;

}

.container-imglist {
    width: 200px;
    height: 230px;
    overflow: hidden;
    background-color: transparent;
    
    
}
.esgotado{
    filter: grayscale();
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.imglista {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    
}

.container-imglist:hover img {
    transform: scale(1.2);
}

.texto-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-botao{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
#nome{
    padding: 5px;
}
#valor{
    margin-bottom: 10px;
}

.texto-list h2 {
    color: #808000;
    width: auto;
    text-align: center;
}

.texto-presente {
    font-size: 9pt;
}

.texto-selec {
    font-size: small;
}

.inputpresente {
    margin-top: 5px;
    border-radius: 12px;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: #3f3f00;

}

.inputpresente:hover {
    background-color: #3f3f007f;
}

footer {
    max-width: 100%;
    max-height: 3rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #808000;
    color: white;

}

.container-logo {
    width: 200px;
    height: 60px;
    margin: 5px;
    background-color: white;
    color: #808000;
    transition: background-color 0.5s;
    border-radius: 15px;
    display: none;
    justify-content: flex-start;
    align-items: center;

}



@media screen and (max-width: 900px) {

    .container-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;

    }
    .container-imglist {
        width: 200px;
        height: 230px;
        overflow: hidden;
    }

    .texto-list {
        flex-direction: column;
        text-align: start;
        padding: 10px;
    }

    .texto-presente {
        font-size: 11pt;
    }

    #escolhido {
        text-align: center;
        width: 300px;
    }

    .nav-bar {
        display: none;
    }

    .container-logo {
        display: inline-flex;
        z-index: 1;
        position: fixed;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 99;
    }

    .nav-bar2 {
        width: 260px;
        height: 1000%;
        z-index: 999;
        background-color: #b7b75e;
        display: none;
        flex-direction: column;
        position: absolute;

    }
    .link-menu2{
        font-size: 13pt;
    }

}

.btnfechar {
    border: none;
    background: none;
    cursor: pointer;
    
}
.btnfechar img{
    width: 35px;
    height: 35px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}



.container-fecharmenu {
    width: 200px;
    height: 60px;
    margin: 5px;
    background-color: white;
    color: #808000;
    transition: background-color 0.5s;
    border-radius: 15px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

}

.container-buttonfechar{
    width: 50%;
    display: inline-flex;
    align-items: start;
}
.container-infoebtnfechar{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}



.confirmarpresença {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 330px;
    max-height: 570px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
    overflow-y: auto;
}


.confirmarpresença h1 {
    color: #3f3f00;
}
.info{
    width: auto;
    height: 150px;
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: #b7b75e;
    position: absolute;
    margin-right: 17px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    transition: all 0.5s;
      
}
.buttoninfo{
    cursor: pointer;
}
.container-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-confirmacao {
    text-align: center;
}

.inputform {
    width: 200px;
    padding: 12px;
    border: none;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #80800042;
    
}

.inputform:focus {
    transition: all 0.3s;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    background-color: #808000;

}

.inputformsubmit {
    margin-top: 5px;
    border-radius: 12px;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 160px;
    color: #fff;
    transition: all 0.3s;
    background-color: #808000;
}
.inputformadc{
    margin-top: 5px;
    border-radius: 12px;
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 130px;
    color: #fff;
    transition: all 0.3s;
    background-color: #808000;
}
.inputformadc:focus{
    border-radius: 15px;
    background-color: #3f3f00;
}

.inputformsubmit:hover {
    background-color: #3f3f007f;
}

.btnconfirmar {
    border-radius: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    color: #fff;
    background-color: #3f3f00;
    margin-left: 20px;
    margin-bottom: 5px;
}

.btnconfirmar:hover {
    background-color: #3f3f007f;
}

.inputbutton{
    border-radius: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    color: #fff;
    background-color: #3f3f00;
    margin-bottom: 5px;
}
.inputbutton:focus{
    border-radius: 15px;
    background-color: #b7b75e;
}

#btnconfirmarlateral{
  margin-left: 45px;
}

.container-contador{
    width: 200px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.container-esgotado {
    width: 230px;
    height: 30px;
    margin-top: 10px;
    z-index: 90;
    text-align: center;
    position: absolute;
    background-color: #f00000;
    color: #ffffff;
    transform: rotate(40deg);
    transform-origin: left bottom; 
}

.container-checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}